<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>주문 상세조회</title>
  <link rel="stylesheet" href="/css/orders.css">
</head>
<body>
<header th:insert="fragments/header.html"></header>

   <!-- 컨텐츠 영역 -->
   <div class="content">
     <h2 class="title">주문 상세조회</h2>
    <div class="orderbtn">
      <button th:if="${stat}"><a id="abtn1" th:href="'/orders/updateOrders/'+${id}">주문수정</a></button>
      <button th:if="${stat}"><a id="abtn2" th:href="'/orders/deleteOrders/'+${id}">주문취소</a></button>
      <button th:if="${stat}"><a id="abtn3" th:href="'/orders/confirmOrders/'+${id}">주문승인</a></button>
      <button th:if="!${stat}"><a id="abtn4" th:href="'/orders/cancleConfirmOrders/'+${id}">주문승인취소</a></button>
      <button th:if="!${stat}"><a id="abtn5" th:href="'/orders2'">확인</a></button>

    </div>
    <table id="myTable">
      <tr id="trtag">
        <th>id</th>
        <th>주문자명</th>
        <th>제품</th>
        <th>수량</th>
        <th>발주일</th>
        <th>예상납품일자</th>
        <th>상태</th>
        <th>진척도</th>
      </tr>
      <tr>
        <td th:text="${id}"></td>
        <td th:text="${orderFrom}"></td>
        <td th:text="${product}"></td>
        <td th:text="${box}"><span>box</span></td>
        <td th:text="${orderDate}"></td>
        <td th:text="${comDate}"></td>
        <td th:text="${status}"></td>
        <td> 추후 기입 </td>
      </tr>
    </table>

    <table class="myTable2">
      <tr id="trtag2">
        <th>공정명</th>
        <th>시작시간</th>
        <th>완료시간</th>
      </tr>
      <tr th:each="production, status: ${list}">
        <td th:text="${production.lotId}"></td>
        <td th:text="${production.startTime}"></td>
        <td th:text="${production.endTime}"></td>

      </tr>


   <script src="/js/orders3.js"></script>
</body>
</html>