<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>공정 조회</title>
  <link rel="stylesheet" href="/css/process.css">
</head>
<body>
<header th:insert="fragments/header.html"></header>

     <!-- 컨텐츠 영역 -->
     <div class="content">
       <h2 class="title">공정 조회</h2>
       <div class="search">
        <!-- 드롭다운 메뉴 -->
        <select id="dropdown">
          <option value="option1">id</option>
          <option value="option2">주문자명</option>
          <option value="option3">제품</option>
          <option value="option4">발주일</option>
        </select>
    
        <!-- 검색창 -->
        <input type="text" id="search" placeholder="검색어를 입력하세요">
    
        <!-- 검색 버튼 -->
        <button onclick="search()">검색</button>
      </div>
  
      <table id="myTable3">
        <tr id="trtag">
          <th>공정</th>
          <th>마지막 공정 시간</th>
          <th>가동현황</th>

        </tr>
          <tr id="trrow1" th:each="proce, status: ${list}">
              <th th:text="${proce.name}" id="proce"></th>
              <td th:text="${proce.endTime}"></td>
              <td th:text="${proce.endTime.isAfter(now)} ? '가동중' : '미가동'"></td>
          </tr>

      </table> 
     </div>
  <script src="/js/process.js"></script>
</body>
</html>