<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>출하 조회</title>
    <link rel="stylesheet" href="/css/shipment.css">
</head>
<body>
<header th:insert="fragments/header.html"></header>

<!-- 컨텐츠 영역 -->
<div class="content">
    <h2 class="title">출하 조회</h2>
    <div class="search">
        <!-- 드롭다운 메뉴 -->
        <form name="search-form" autocomplete="off" action="/shipment" role="form" method="post">
            <select id="dropdown" name="type">
                <option value="option1">id</option>
                <option value="option2">주문자명</option>
                <option value="option3">제품</option>
                <option value="option4">발주일</option>
                <option value="option5">출하일</option>
            </select>

            <!-- 검색창 -->
            <input type="text" name="keyword" id="search" placeholder="검색어를 입력하세요">

            <!-- 검색 버튼 -->
            <button  type="submit">검색</button>
        </form>

        <div class="downloadbtn">
            <button><a id="DownBtn" th:href="@{/excel/download(type=${type},keyword=${keyword})}">다운</a></button>
        </div>
    </div>


    <table id="myTable4">
        <tr id="trtag">
            <th>id</th>
            <th>주문자명</th>
            <th>제품</th>
            <th>수량</th>
            <th>발주일</th>
            <th>출하일</th>
        </tr>
        <tr th:each="ship, status: ${list}">
            <th><span th:text="${ship.id}"></span></th>
            <th><span th:text="${ship.orderFrom}"></span> </th>
            <th><span th:text="${ship.product}"></span> </th>
            <th><span th:text="${ship.box}"></span> </th>
            <th><span th:text="${ship.orderDate}"></span> </th>
            <th><span th:text="${ship.comDate}"></span> </th>
        </tr>
    </table>
    <input type="hidden" name="type" th:value="${type}">
    <input type="hidden" name="keyword" th:value="${keyword}">

    <div class="pageBtn">
        <th:block th:each="page:${#numbers.sequence(startPage,endPage)}" >
            <th:block th:if="${page !=0}">
            <a id="borderToolsPagingBox" th:if="${page != nowPage}" th:href="@{/shipment/search(page=${page - 1},type=${type},keyword=${keyword})}" th:text ="${page}" ></a>
            <strong th:if="${page==nowPage}" th:text ="${page}" style="color:red"></strong>
            </th:block>
        </th:block>
    </div>
</div>

<script src="/js/shipment.js"></script>
</body>
</html>