/* Logo */
.logo {
    font-size: 30px; /* 원하는 크기로 조정 */
    font-weight: bold; /* 필요에 따라 굵게 지정 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    /* 로고 이미지 */
    background-image: url("../img/logo.png");
    display: block;
    width: 200px; /* 원하는 너비로 변경 */
    height: 80px; /* 원하는 높이로 변경 */
    background-size: contain; /* 이미지를 요소에 맞게 조정 */
    background-repeat: no-repeat; /* 이미지 반복 없음 */

}

.logo-container {
    padding: 5px; /* 로고 영역의 여백(패딩) 설정 */
    /* 또는 */
    width: 200px; /* 로고 영역의 고정된 너비 설정 */
    height: 50px; /* 로고 영역의 고정된 높이 설정 */
}


/* 네비게이션바 */
.navbar {
    background-color: #fff;  /* 네비 색*/
    display: flex;
    align-items: center;
    padding-top: 10px;
}

/* 수주, 재고, 공정, 출하 버튼 css*/
.button-container {
    display: flex;
    flex-grow: 1;
    justify-content: space-around; /* 버튼들을 수평으로 균등하게 배치 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#ordersBtn, #inventoryBtn, #processBtn, #shipmentBtn {
    font-size: 20px;
    font-weight: bold;
}


/* 메뉴 버튼 css*/
.menu-button {
    padding: 10px;
    margin-bottom: 10px;
    flex-grow: 1;
    background: #ffffff;
}


/* 사이드 바 스타일 */
.sidebar {
    width: 200px;
    height: 100%;
    background-color: #fff;;
    position: fixed;
    top: 0;
    left: -200px;
    transition: left 0.3s ease;
    flex-direction: column; /* 사이드바 내부 요소를 세로로 배치 */
    align-items: stretch; /* 사이드바 내부 요소를 너비에 맞추기 위해 설정 */
}

.ul-list {
    list-style: none;
    font-size: 20px;
}

.sidebar a {
    margin-top: 20px;
    text-decoration: none;
    display: block;
    margin-bottom: 30px; /* 글자 사이 간격 조정 */
    color: #000; /* 원하는 글자 색상으로 변경 */
}

.sidebar-open {
    width: 200px;
}

/* 사이드 바 열기 애니메이션 */
.sidebar-open {
    left: 0;
}


/* 버튼 누르면 사이드바에 각 항목마다 히든됨*/
.hidden {
    display: none;
}


/* 컨텐츠 영역 스타일 */
.calender-content {
    margin-left: 0;
    transition: margin-left 0.3s ease;
    width: 100%;
    box-sizing: border-box;
    padding-left: 0;
}

#calendar-header{
    text-align: center;
}

/* 컨텐츠 영역 이동 애니메이션 */
.content-shift {
    margin-left: 200px;
    width: calc(100% - 200px);
    padding-left: 0px;
}

/* 여백에 맞추기 */
.sidebar-open .content-shift {
    margin-left: 0;
    width: 100%;
    padding-left: 200px;
}

.content {
    padding-top: 30px; /* 원하는 여백 크기로 변경 */
}