<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>GimBab MES</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
</head>
<body>
<header th:insert="fragments/header.html"></header>

<!-- 컨텐츠 영역 -->
  <div class="content">
    <div class="calender-content">
      <h1 id="calendar-header">작업 일정</h1>

      <table id="calendar">
        <tr>
          <th>일</th>
          <th>월</th>
          <th>화</th>
          <th>수</th>
          <th>목</th>
          <th>금</th>
          <th>토</th>
        </tr>
      </table>
    </div>
  </div>

<!--<p th:text="${list26}"></p>-->
  <!-- 모달 -->
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2 id="modalTitle"></h2>
    <p id="a"></p>
    <p id="b"></p>
    <p id="c"></p>
    <p id="d"></p>
    <button id="XlsxDownloadBtn"><a id="dd">다운</a></button>

  </div>
</div>
<script>

</script>
<script src="/js/main.js"></script>
</body>
</html>